@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";
@import "categories";
@import "flags";
@import "home";
@import "projects";
@import "tasks";

body {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	border-bottom: 1px solid black;
	margin-bottom: 0px;
	h2 {
		float: left;
	}
}
.notice {
	float: right;
}
a {
  color: black;
  &:visited {
    color: black;
  }
  &:hover {
    color: black;
    background-color: #000;
    text-decoration: none;
  }
}
