@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";
@import "categories";
@import "flags";
@import "home";
@import "projects";
@import "tasks";

#sortable2, #sortable1 {
  height: 100vh;
}
#projects_column .fa {
  margin-left: 20px;
}

body {
	font-family: 'Open Sans', sans-serif;
}
.navbar {
  margin-bottom: 0px;
}
.notice {
	float: right;
  padding-top: 15px;
}
.alert {
  padding-top: 15px;
}
a {
  color: black;
  &:hover {
    color: black;
  }
}
input[type="text"]:focus {
  border-color: black;
  box-shadow: none;
}
