#projects_column {
	background-color: $light-gray;
	height:100vh;
}

#project_column {
	background-color: $off-white;
	height:100vh;
}


#inprogress_column {
	background-color: $light-gray;
	height:100vh;
}
