#projects_column {
	background-color: $medium-gray;
	border-right: 1px solid black;
	height:200vh;
}

#project_column {
	background-color: $off-white;
	border-right: 1px solid black;
	height:200vh;
}

#inprogress_column {
	background-color: $medium-gray;
	height:200vh;
}

.well-box:nth-child(even) {
	margin: 5px 0 0 0px;
	padding: 0 0 0 5px;
}

.well-box:nth-child(odd) {
	margin: 5px 0 0 0px;
	padding: 0 5px 0 0;
}

#form-control-project-title {
	border-radius: 0;
}
#new_task {
	margin: 5px 0;
}
#new-task {
	border-radius: 0;
}
#project-title {
	color: $green;
}
#project-details {
	margin-top: 10px;
}

.well {
	background-color: $light-gray;
	border: 1px solid black;
	border-radius: 0px;
	padding: 0px;
	margin-top: 5px;
	.title {
		background-color: $off-white;
		border-bottom: 1px solid black;	
		padding: 5px 5px;
	}
	.info {
		line-height: 10px;
		padding: 0 5px;
	}
	
}
.task-box {
	background-color: white;
	border: 1px solid black;
	margin-top: 5px;
	padding: 0px;
	p {
        padding: 10px;
        margin: 0;
    }
}
.get-hidden {
	display: none;
	background-color: white;
	border: 1px solid black;
	border-top: none;
	margin-right: 1px;
	p {
		padding: 10px;
	}
}
.selected-project {
	.title {
		background-color: $green;
		color: $off-white;
		margin-bottom: 0;
	}
	.info {
		background-color: $medium-gray;
		color: $off-white;
		padding: 10px 5px;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.input-group-btn {
	border-left: 1px solid black;
	button {
		border: none;
		background-color: transparent !important;
		outline: none !important;
		box-shadow: none !important;
	}
}




