#projects_column {
	background-color: $medium-gray;
	border-right: 1px solid black;
	height:200vh;
}

#project_column {
	background-color: $off-white;
	border-right: 1px solid black;
	height:200vh;
}

#inprogress_column {
	background-color: $medium-gray;
	height:200vh;
}
.well-box:nth-child(even) {
	margin: 5px 0 0 0px;
	padding: 0 0 0 5px;
}
.well-box:nth-child(odd) {
	margin: 5px 0 0 0px;
	padding: 0 5px 0 0;
}
#form-control-project-title {
	border-radius: 0;
}

.well {
	background-color: $light-gray;
	border: 1px solid black;
	border-radius: 0px;
	padding: 0px;
	margin-top: 5px;
	.title {
		background-color: $off-white;
		border-bottom: 1px solid black;	
		padding: 5px 5px;
	}
	.info {
		line-height: 10px;
		padding: 0 5px;
	}
	
}

